fieldset{
	background-color: #F5EDF0; 
	border-radius: 15px;  /*導圓角*/
	margin: 10px;
	border: 5px solid #886F68;    /*設定為無邊線*/
	display: inline;
  }

legend{
	background-color: #886F68;  
	color:#ffffff;
	padding: 10px;		
	margin-left: 10px;	
	width: auto;
	border-radius: 5px;
}

.btn {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #3D2C2E 5%, #886F68 100%);
	background-color:#3D2C2E;
	border-radius:6px;
	border:1px solid #886F68;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	margin:10px 0px ;
}

.smallBtn {
	border:0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	margin:0px 3px;
}

.smallBtn:hover {
	opacity:0.3;
}
.smallBtn:active {
	position:relative;
	top:1px;
}